@model ProductUI.Models.Product

@{
    ViewData["Title"] = "GetProductById";
}

<h1>GetProductById</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("GetAll", "Edi", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="GetAll">Back to Product List</a>
</div>
